In [1]:
import pandas as pd
import numpy as np

In [2]:
dataDir = "data/"  # Directory where our data is stored

In [3]:
dtypes = {'display_id' : np.int32, 'ad_id': np.int32, 'clicked': np.int8}
dfTrain = pd.read_csv(dataDir + "clicks_train.csv", dtype=dtypes)

In [4]:
dfTrain.head()

   display_id   ad_id  clicked
0           1   42337        0
1           1  139684        0
2           1  144739        1
3           1  156824        0
4           1  279295        0

In [5]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87141731 entries, 0 to 87141730
Data columns (total 3 columns):
display_id    int32
ad_id         int32
clicked       int8
dtypes: int32(2), int8(1)
memory usage: 747.9 MB

## Get the set of ads that are clicked and take the inverse set to get the ads that have never been clicked

In [6]:
dfClicked = dfTrain[dfTrain['clicked'] == 1]

## Per Wes McKinney no less. A negative in front of the isin method is the way to properly say "not is in".

In [7]:
dfNotClicked = dfTrain[-dfTrain['ad_id'].isin(dfClicked['ad_id'])]

In [8]:
dfNotClicked.head()

    display_id   ad_id  clicked
7            2  156535        0
34           7  300808        0
67          15  335983        0
72          17   27309        0
74          17   81652        0

In [9]:
dfTrain[dfTrain['ad_id'] == 156535].head()

   display_id   ad_id  clicked
7           2  156535        0

In [10]:
dfNotClicked = dfNotClicked.groupby('ad_id')['clicked'].count().sort_values().to_frame().reset_index()

In [11]:
dfNotClicked.tail()

         ad_id  clicked
224809  150318      218
224810  164580      224
224811  124196      253
224812  199155      256
224813  367801      330

## Save the order to file

In [12]:
dfNotClicked['ad_id'].to_csv(dataDir + "notClickedOrder.csv", index=False, header=True)