In [7]:
import pandas as pd
import numpy as np

In [2]:
dataDir = "data/"  # Directory where our data is stored

In [21]:
dtypes = {'display_id' : np.int32, 'ad_id': np.int32, 'clicked': np.bool}
dfTrain = pd.read_csv(dataDir + "clicks_train.csv", dtype=dtypes)

In [22]:
dfTrain.head()

   display_id   ad_id clicked
0           1   42337   False
1           1  139684   False
2           1  144739    True
3           1  156824   False
4           1  279295   False

In [23]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87141731 entries, 0 to 87141730
Data columns (total 3 columns):
display_id    int32
ad_id         int32
clicked       bool
dtypes: bool(1), int32(2)
memory usage: 747.9 MB

In [42]:
dfClicked = dfTrain[dfTrain['clicked'] == 1]

In [43]:
dfClicked.head()

    display_id   ad_id clicked
2            1  144739    True
9            2  308455    True
14           3  228657    True
17           4  153623    True
25           5  326514    True

In [44]:
dfClicked = dfClicked.groupby('ad_id')['clicked'].count().to_frame().reset_index()

In [45]:
dfClicked.head()

   ad_id  clicked
0      2        1
1      3       11
2      4        4
3      7      985
4      8        4

In [48]:
dfOccured = dfTrain.groupby('ad_id')['clicked'].count().to_frame().reset_index()

In [49]:
dfOccured.head()

   ad_id  clicked
0      1        2
1      2       22
2      3      161
3      4       32
4      5        1

In [52]:
dfNew = dfClicked.merge(occured, how='left', on='ad_id')

In [55]:
dfNew = dfNew.rename(columns={'clicked_x':'clicked', 'clicked_y': 'viewed'})

In [57]:
dfNew.to_csv(dataDir + 'clickonly.csv')