In [1]:
import pandas as pd
import numpy as np

In [2]:
dataDir = "data/"  # Directory where our data is stored

In [3]:
dtypes = {'display_id' : np.int32, 'ad_id': np.int32, 'clicked': np.bool}
dfTrain = pd.read_csv(dataDir + "clicks_train.csv", dtype=dtypes)

In [4]:
dfTrain.head()

   display_id   ad_id clicked
0           1   42337   False
1           1  139684   False
2           1  144739    True
3           1  156824   False
4           1  279295   False

In [5]:
dfTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87141731 entries, 0 to 87141730
Data columns (total 3 columns):
display_id    int32
ad_id         int32
clicked       bool
dtypes: bool(1), int32(2)
memory usage: 747.9 MB

In [11]:
dfNotClicked = dfTrain[dfTrain['clicked'] == 0]

In [12]:
dfNotClicked.head()

   display_id   ad_id clicked
0           1   42337   False
1           1  139684   False
3           1  156824   False
4           1  279295   False
5           1  296965   False

In [13]:
dfNotClicked = dfNotClicked.groupby('ad_id')['clicked'].count().sort_values().to_frame().reset_index()

In [15]:
dfNotClicked.tail()

         ad_id  clicked
463289  151028   150245
463290  173006   156044
463291  123742   188136
463292  180923   194682
463293  173005   195644

## Save the order to file

In [17]:
dfNotClicked['ad_id'].to_csv(dataDir + "notClickedOrder.csv", header=False, index=False)