### Table of Primary and Foreign Keys

| table                | PK          | FK          | FK           | FK            |
|----------------------|-------------|-------------|--------------|---------------|
| documents_categories | document_id | category_id | -            | -             |
| clicks_test          | display_id  | ad_id       | -            | -             |
| documents_meta       | document_id | source_id   | publisher_id | -             |
| documents_entities   | document_id | entity_id   | -            | -             |
| promoted_content     | ad_id       | document_id | campaign_id  | advertiser_id |
| sample_submission    | display_id  | -           | -            | -             |
| documents_topics     | document_id | topic_id    | -            | -             |
| clicks_train         | display_id  | ad_id       | -            | -             |
| events               | display_id  | uuid        | document_id  | -             |
| page_views_sample    | uuid        | document_id | -            | -             |

### Table of CSV relathionships

| table                | doc_cat | clicks_test | doc_meta | doc_ent | promoted_cont | sample_sub | doc_topics | clicks_train | events | page_views_sample |
|----------------------|---------|-------------|----------|---------|---------------|------------|------------|--------------|--------|-------------------|
| documents_categories | -       |             |          |         |               |            |            |              |        |                   |
| clicks_test          |         | -           |          |         |               |            |            |              |        |                   |
| documents_meta       |         |             | -        |         |               |            |            |              |        |                   |
| documents_entities   |         |             |          | -       |               |            |            |              |        |                   |
| promoted_content     |         |             |          |         | -             |            |            |              |        |                   |
| sample_submission    |         |             |          |         |               | -          |            |              |        |                   |
| documents_topics     |         |             |          |         |               |            | -          |              |        |                   |
| clicks_train         |         |             |          |         |               |            |            | -            |        |                   |
| events               |         |             |          |         |               |            |            |              | -      |                   |
| page_views_sample    |         |             |          |         |               |            |            |              |        | -                 |

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
plt.style.use('ggplot')
import collections
import json
from IPython.display import display, HTML
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [18]:
file_names = ['documents_categories_mini.csv',
                'clicks_test_mini.csv',
                'documents_meta_mini.csv',
                'documents_entities_mini.csv',
                'promoted_content_mini.csv',
                'sample_submission_mini.csv',
                'documents_topics_mini.csv',
                'clicks_train_mini.csv',
                'events_mini.csv',
                'page_views_sample_mini.csv']

df_dict = {}
for f in file_names:
    df_name = f[:-9]
    df_dict[df_name] = pd.read_csv('data_mini/'+f)

In [74]:
# printing head of all tables to get a general feel.
for k,v in df_dict.iteritems():
    print k,v.shape
    display(v.head(3)) #display() for pretty print
    #display(v.describe())

documents_meta (49999, 4)

   document_id  source_id  publisher_id         publish_time
0      1595802          1         603.0  2016-06-05 00:00:00
1      1524246          1         603.0  2016-05-26 11:00:00
2      1617787          1         603.0  2016-05-27 00:00:00

page_views_sample (49999, 6)

,uuid,document_id,timestamp,platform,geo_location,traffic_source
0,1fd5f051fba643,120,31905835,1,RS,2
1,8557aa9004be3b,120,32053104,1,VN>44,2
2,c351b277a358f0,120,54013023,1,KR>12,1

sample_submission (49999, 2)

   display_id                                              ad_id
0    16874594           66758 150083 162754 170392 172888 180797
1    16874595                                  8846 30609 143982
2    16874596  11430 57197 132820 153260 173005 288385 289122...

promoted_content (49999, 4)

   ad_id  document_id  campaign_id  advertiser_id
0      1         6614            1              7
1      2       471467            2              7
2      3         7692            3              7

events (49999, 6)

   display_id            uuid  document_id  timestamp  platform geo_location
0           1  cb8c55702adb93       379743         61         3    US>SC>519
1           2  79a85fa78311b9      1794259         81         2    US>CA>807
2           3  822932ce3d8757      1179111        182         2    US>MI>505

documents_categories (49999, 3)

   document_id  category_id  confidence_level
0      1595802         1611              0.92
1      1595802         1610              0.07
2      1524246         1807              0.92

clicks_test (49999, 2)

   display_id   ad_id
0    16874594   66758
1    16874594  150083
2    16874594  162754

clicks_train (49999, 3)

   display_id   ad_id  clicked
0           1   42337        0
1           1  139684        0
2           1  144739        1

documents_entities (49999, 3)

   document_id                         entity_id  confidence_level
0      1524246  f9eec25663db4cd83183f5c805186f16          0.672865
1      1524246  55ebcfbdaff1d6f60b3907151f38527a          0.399114
2      1524246  839907a972930b17b125eb0247898412          0.392096

documents_topics (49999, 3)

   document_id  topic_id  confidence_level
0      1595802       140          0.073113
1      1595802        16          0.059416
2      1595802       143          0.045421

In [86]:
display(df_dict['documents_categories']['confidence_level'].describe())
display(df_dict['documents_entities']['confidence_level'].describe())
display(df_dict['documents_topics']['confidence_level'].describe())

count    49999.000000
mean         0.502071
std          0.408059
min          0.004842
25%          0.070000
50%          0.554230
75%          0.920000
max          1.000000
Name: confidence_level, dtype: float64

count    49999.000000
mean         0.363738
std          0.196164
min          0.001289
25%          0.234886
50%          0.280828
75%          0.391239
max          0.989853
Name: confidence_level, dtype: float64

count    49999.000000
mean         0.058079
std          0.066196
min          0.008000
25%          0.013472
50%          0.027320
75%          0.071406
max          0.582720
Name: confidence_level, dtype: float64