# Looking at Promoted Content file

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib as mpl
plt.style.use('ggplot')
import collections
import json
from IPython.display import display, HTML
from collections import defaultdict
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
%%time
promoted_content = pd.read_csv('data/promoted_content.csv')

CPU times: user 310 ms, sys: 39.7 ms, total: 350 ms
Wall time: 359 ms

In [3]:
df = promoted_content.copy()

In [4]:
print 'There are {} rows and {} features in the dataframe.' .format(df.shape[0], df.shape[1])

There are 559583 rows and 4 features in the dataframe.

In [5]:
print 'Head:'
display(df.head(5))
print 'Tail:'
display(df.tail(5))

Head:

   ad_id  document_id  campaign_id  advertiser_id
0      1         6614            1              7
1      2       471467            2              7
2      3         7692            3              7
3      4       471471            2              7
4      5       471472            2              7

Tail:

         ad_id  document_id  campaign_id  advertiser_id
559578  572968      1375496        18617           3223
559579  573016      1051466        18617           3223
559580  573081       497486        18617           3223
559581  573094      2868067        18906            283
559582  573098      2790678        13933             16

### Some Summary Stats

In [10]:
advertiser_count = df['advertiser_id'].unique().size #size attribute of np.array
campaign_count = df['campaign_id'].unique().size
document_count = df['document_id'].unique().size
ad_count = df['ad_id'].unique().size

print 'Unique advertisers: {}\
      \nUnique campaigns: {}\
      \nUnique documents: {}\
      \nUnique Ads: {}'.format(advertiser_count, campaign_count, document_count, ad_count)

Unique advertisers: 4385
Unique campaigns: 34675
Unique documents: 185709
Unique Ads: 559583

In [17]:
df['ad_id'].unique()

array([     1,      2,      3, ..., 573081, 573094, 573098])

In [7]:
biggest_advertisers = df['advertiser_id'].value_counts().iloc[0:100]
biggest_advertisers

266     16529
1635    15450
3829    14844
1634    10552
3922    10046
2656     9217
2874     9024
1206     8774
2754     7971
2848     7814
2110     6650
2556     6436
185      6391
201      6369
2030     6221
283      5592
2057     5078
415      4985
1510     4728
1378     4709
2804     4605
1352     4163
1637     3935
1347     3930
447      3926
4156     3597
1650     3308
752      3204
580      3148
2655     3071
        ...
29       1560
1017     1534
1531     1514
3799     1495
83       1493
2616     1487
1055     1413
28       1376
1555     1353
2090     1352
239      1325
1636     1321
545      1314
1809     1307
2557     1272
551      1258
1554     1251
2091     1250
1367     1249
505      1247
407      1245
409      1245
3220     1241
94       1225
53       1215
140      1211
1684     1210
3410     1200
1973     1188
901      1187
Name: advertiser_id, dtype: int64